header{
    display: inline-block;
    position: relative;
    padding: 10px 200px 10px 200px;
    background-color: rgb(73, 72, 72);
    width: 71%;
}
header img{
    padding-right: 40px;
}
nav{
    display: inline-block;
    position: relative;
}
li{
    display: inline-block;
    position: relative;
    padding-right: 80px;
    bottom: 30px;
}

section img{
    padding: 30px 200px 20px 200px;
}
article{
    padding: 10px 185px 10px 180px;
}
article img{
    padding: 0px 5.2px 0px 20px;
}
p{
    padding: 20px 190px 20px 200px;
}
p img {
    float: left;
    padding: 0px 30px 0px 0px;
}

div{
    font-size: larger;
}

span{
    background-color: black;
    padding: 10px 20px 10px 20px;
    position: relative;
    color: white;
    float: left;
    bottom: 32px;
}

footer{
    padding: 0px 0px 100px 0px;
    margin-top: 20px;
    background-color: rgb(73, 72, 72);
}
